<!doctype html>
<html>
    <head>
        <title>{{ this_site.title }}{{ resource.meta.title_ending }}</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
                
        <link rel="stylesheet" href="{{ media_url('css/GGS.css') }}">


        <script src="{{ media_url('js/GGS.js') }}"></script>

        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]-->
    </head>
    <body lang="en">
        <header>
            <div class="wrapper">
            {% block splash %}{% endblock %} 
            <h1><a href="/">{{ this_site.title }}</a><h1>
            </div>
            <nav>
                <div class="wrapper">
                {% import "macros.j2" as macros with context %}
                {{ macros.render_main_menu() }}
                </div>
            </nav>
        </header>
        <article id="twoway"> 
            <div class="wrapper">
            {% block content %}{% endblock %}
            </div>
        </article>
        <footer id="colophon">
            <div class="inner">
            <p>{{ author.email}}</p>
            </div>
        </footer>

        {# Some parts of the web are not needed for development and can
           wait for production (ex. analytics). They can be included in
           the final production build. Create a new config file, extend
           the original one and override the "mode" property; then build
           the site with the new "production configuration".
        #}
        {% if site.config.mode == "production" -%}
            {% include "ga.j2" %}
        {%- endif %}
    </body>
</html>
