{% extends "base.j2" %}

{% block menu %}
    {{ macros.render_main_menu() }}
{% endblock %}

{% block content %}
<article class="post">
    <header>
        <h2>{{ resource.meta.title }}</h2> 
        {% if resource.meta.date %}
        <p class="datetime">{{ macros.render_date( resource.meta.date ) }}</p>
        {% endif %}
    </header>
    <section>
        {% mark content -%}
        {% filter markdown|typogrify -%}
        {% block post %}{% endblock %}
        {%- endfilter %}
        {%- endmark %}
    </section>
 </article>
{% endblock %}
