{% extends "base.j2" %}

{% block menu %}
    <nav>
    {{ macros.render_main_menu() }}
    </nav>
{% endblock %}

{%- block content -%}
{% mark post -%}
<article class="post">
    <header>
        <h2>{{ resource.meta.title }}</h2> 
        {% if resource.meta.date %}
        <p class="datetime">{{ macros.render_date( resource.meta.date ) }}</p>
        {% endif %}
    </header>
    <section>
        {% mark content -%}
        {% filter markdown|typogrify -%}
        {% block post %}{% endblock %}
        {%- endfilter %}
        {%- endmark %}
    </section>
    {% include "assets/render_related_posts.j2" %}
 </article>
{% if site.config.mode == "development" %}
{% include media_url('js/disqus.js') %}
{% endif %}
{%- endmark -%}
{% endblock -%}
