{% extends "base.j2" %}

{% block menu %}
    {{ macros.render_main_menu() }}
{% endblock %}

{% block content %}
<article class="post">
    <header>
        <h3>{{ resource.meta.title }}</h3> {{ macros.render_date( resource.meta.date ) }}
    </header>
    <section>
        {% mark content -%}
        {% filter markdown|typogrify -%}
        {% block post %}{% endblock %}
        {%- endfilter %}
        {%- endmark %}
    </section>
 </article>
{% endblock %}
