{% extends "_post.html" %}

{% hyde
    author: Mark Twain
    title: The Awful German Language
    summary: "An essay on the trials and trevails of learning."
    categories: 
        - printing
%}

{% block article %}
Learning German is hard. Twain got that like no other. This essay, originally an appendix in _The Tramps Abroad_, details his trials and trevails of trying to master _deutsch_, and was a great solace to me while attempting to do the same. 

Printed at the _Druckladen_ of the Gutenberg Museum, in Mainz, Germany, making use of some of the unusual typefaces in their extensive collection. 
<div class="gallery">
    <img src="{{ site.url }}/media/images/printing/{{ page.page_name }}/awful-1.jpg" />
    <img src="{{ site.url }}/media/images/printing/{{ page.page_name }}/awful-2.jpg" />
    <img src="{{ site.url }}/media/images/printing/{{ page.page_name }}/awful-3.jpg" />
</div>

{% endblock %}

