{% extends "_post.html" %}

{% hyde
    author:
    title: A Few Faces of Emil Rudolf Weiss
    summary: "A Type Specimen"
    categories: 
        - printing
%}

{% block article %}
<h4>A specimen book</h4>
I published this small specimen book in two editions, German and English. Weiß designed a number of handsome typefaces that are still in use today. The Weiß Lapidar that appears on the title page below is especially handsome.

Hand-printed on a Korrex cylinder press on Zerkall papers.
<div class="gallery">
    <img src="{{ site.url }}/media/images/printing/{{ page.page_name }}/few-faces-1.jpg" />
    <img src="{{ site.url }}/media/images/printing/{{ page.page_name }}/few-faces-2.jpg" />
</div>
{% endblock %}

