{% extends "_post.html" %}

{% hyde
    author: Paul Celan
    title: A Reading for Group 47
    summary: "German with English translations of Celan's youthful poems."
    categories: 
        - printing    
%}

{% block article %}
I first stumbled on "Todesfuge" while working in Nicaragau--and before I could read German. It was shocking, brutal, powerful. I read it in English, then in Spanish translation--parsing through the German as best I could. 

_A Reading for Group 47_ reprints "Todesfuge", and three other poems in Celan's original German, facing [John Felstiner's](http://english.stanford.edu/bio.php?name_id=49) powerful English translations. A frontispiece by the California artist [Dirk Hagner](http://www.dirkhagner.com/) finishes the deal.

Printed in Eric Gill's Sans and Joanna on mouldmade Zerkall book papers.
<div class="gallery">
    <img src="{{ site.url }}/media/images/printing/{{ page.page_name }}/celan-2.jpg" />
    <img src="{{ site.url }}/media/images/printing/{{ page.page_name }}/celan-6.jpg" />
    <img src="{{ site.url }}/media/images/printing/{{ page.page_name }}/celan-3.jpg" />
    <img src="{{ site.url }}/media/images/printing/{{ page.page_name }}/celan-4.jpg" />
    <img src="{{ site.url }}/media/images/printing/{{ page.page_name }}/celan-5.jpg" />
</div>
{% endblock %}

