{% extends "_post.html" %}

{% hyde
    title: Sesquipedality
    summary: "A small collection of difficult words."
    categories: 
        - printing
%}

{% block article %}
A small collection of difficult words culled from a variety of eccentric dictionaries. Includes useful gems like _totipalmate_, meaning, web-toed.

Letterpress printed on Zerkall papers and handbound in wrappers. 
<div class="gallery">
    <img src="{{ site.url }}/media/images/printing/{{ page.page_name }}/sesquip-1.jpg" />
    <img src="{{ site.url }}/media/images/printing/{{ page.page_name }}/sesquip-2.jpg" />
    <img src="{{ site.url }}/media/images/printing/{{ page.page_name }}/sesquip-3.jpg" />
</div>

{% endblock %}

