{% extends "_post.html" %}

{% hyde
    author:
    title: "Useful Words & Grammar"
    summary: "A learner's guide to the German Language"
    categories: 
        - printing
%}

{% block article %}
<h4>A learner's guide to the German Language</h4>
After filling a couple of legal pads with grammar notes, I composed and printed this compendium to tuck in my jacket pocket. It's rife with errors, but I've found it useful. 

Letterpress printed wrappers in Walbaum types.
<div class="gallery">
    <img src="{{ site.url }}/media/images/printing/{{ page.page_name }}/useful-1.jpg" />
    <img src="{{ site.url }}/media/images/printing/{{ page.page_name }}/useful-2.jpg" />
    <img src="{{ site.url }}/media/images/printing/{{ page.page_name }}/useful-3.jpg" />
</div>
{% endblock %}

