{% extends "base.j2" %}

{% block splash %}
    <h1>BEHOLD, MY INTERNET IDENTITY</h1>
{% endblock %}

{% block content %}

<section class="wrapper">
{% for res in site.content.walk_resources_grouped_by_blog() %}
    <div>
        {% include "assets/render_title.j2" %}
        {{ macros.render_date(res.meta.date) }}
    <p class="summary">{{ res.meta.summary }}</p>
{% endfor %}
</section>

<section class="wrapper">
{% for res in site.content.walk_resources_grouped_by_projects() %}
    <div>{% include "assets/render_title.j2" %}</div>
{% endfor %}
</section>

<section class="wrapper">
{% for res in site.content.walk_resources_grouped_by_work() %}
    {% if res.meta.thumbnail %}
        <!--<a href="{{ res.full_url }}"><img src="{{ media_url( res.meta.thumbnail) }}" /></a>-->
     {% endif %}
    <div>{% include "assets/render_title.j2" %}</div>
    <p class="summary">{{ res.meta.summary }}</p>
{% endfor %}
</section>

{% endblock %}
