{% extends "base.j2" %}

{% block splash %}
    <h1>Hello, I am a printer, programmer, and a student at <a href="hlt.mit.media.edu">High-Low Tech</a> at the <a href="media.mit.edu">MIT Media Lab</a>.</h1> 
{% endblock %}

{% block content %}

<section class="wrapper">
    <h2><a href="/posts/">POSTS</a></h2> 
{% for res in site.content.walk_resources_grouped_by_blog() %}
    <div class="listing">{% include "assets/render_title.j2" %}
    <p class="summary">{{ res.meta.summary }}</p>
    </div>
{% endfor %}
</section>

<section class="wrapper">
    <h2><a href="/posts/">PROJECTS</a></h2> 
{% for res in site.content.walk_resources_grouped_by_projects() %}
    <div class="listing">{% include "assets/render_title.j2" %}</div>
{% endfor %}
</section>

<section class="wrapper">
    <h2><a href="/posts/">WORK</a></h2> 
{% for res in site.content.walk_resources_grouped_by_work() %}
    {% if res.meta.thumbnail %}
        <!--<a href="{{ res.full_url }}"><img src="{{ media_url( res.meta.thumbnail) }}" /></a>-->
     {% endif %}
    <div class="listing">{% include "assets/render_title.j2" %}
    <p class="summary">{{ res.meta.summary }}</p></div>
{% endfor %}
</section>

{% endblock %}
