{% extends "base.j2" %}

{% block splash %}
    <h1 class="splash">Hello, I am a printer, programmer, and a student at <a href="hlt.mit.media.edu">High-Low Tech</a> at the <a href="media.mit.edu">MIT Media Lab</a>.</h1> 
{% endblock %}

{% block content %}

<section class="wrapper">
    <nav><h2><a href="/posts/">POSTS</a></h2></nav> 
{% for res in site.content.walk_resources_grouped_by_posts() %}
    <div class="listing">{% include "assets/render_title.j2" %}
    <p class="summary">{{ res.meta.summary }}</p>
    </div>
{% endfor %}
</section>

<section class="wrapper">
    <nav><h2><a href="/projects/">PROJECTS</a></h2></nav> 
{% for res in site.content.walk_resources_grouped_by_projects() %}
    <div class="listing">{% include "assets/render_title.j2" %}
    {% if res.meta.summary %}
    <p class="summary">{{ res.meta.summary }}</p>
    {% endif %}
    </div>
{% endfor %}
</section>

<section class="wrapper">
    <nav><h2><a href="/printing/">PRINTING</a></h2></nav> 
{% for res in site.content.walk_resources_grouped_by_printing() %}
    <div class="listing">
    {% if res.meta.thumbnail %}
        {% set image='img/thumb_' + res.meta.thumbnail %}
        <a href="{{ res.full_url }}"><img src="{{ media_url( image ) }}" /></a>
    {% endif %}
    {% include "assets/render_title.j2" %}
    <p class="summary">{{ res.meta.summary }}</p></div>
{% endfor %}
</section>

{% endblock %}
